<main class="category-show">
  <h1 class="category-title page-title">
    <span>&gt; </span>
    Reviews by: <%= @user.name %>
  </h1>
  <section class="reviews-list">

    <% @reviews.each do |review| %>
    <article class="review">
      <div class="image-content">
        <%= image_tag review.image, class: 'review-image' %>
      </div>
      <div class="review-content d-flex flex-column p-4">
        <h2 class="title"><%= review.title %></h2>
        <ul class="categories-list list-group list-group-horizontal">
          <% review.categories.each do |category| %>
            <li class="list-group-item"><%= link_to category.name, category_path(category.id), class: 'categories-list-link' %></li>
          <% end %>
        </ul>
        <div class="review-footer mt-auto d-flex justify-content-between">
          <div class="review-author">
            <%= show_owner_controllers(review.author_id) %>
          </div>
          <div class="review-votes">
            <%= vote_or_unvote_btn(review) %>
            <%= fa_icon "star", text: review.votes.size %>
          </div>
        </div>
      </div>
    </article>
    <% end %>

  </section>
</main>