<main class="full-review">
  <article class="review w-75 my-4 mx-auto">
    <section class="review-cover p-4 d-flex" style="background-image: url(<%= image_url_generator(@review.image)%>)">
      <h1 class="review-title align-self-end"><%= @review.title %></h1>
    </section>
    <section class="review-body p-4">
      <header class="review-header">
        <ul class="categories-list list-inline mb-2">
          <strong class="mr-2">Categories:</strong>
          <% @review.categories.each do |category| %>
            <li class="list-inline-item"><%= link_to category.name, category_path(category.id), class: 'tertiary-link' %></li>
          <% end %>
        </ul>
        <div class="review-author-votes d-flex justify-content-between align-items-center border bg-light p-2 mb-4">
          <div class="review-votes">
            <%= fa_icon "star", text: @review.votes.size %>
            <%= vote_or_unvote_btn(@review) %>
          </div>
          <div class="review-author">
            <% unless @review.author_id == current_user.id %>
              Author: <%= link_to @review.author.name, profile_path(@review.author_id), class: 'author-profile-link' %>
            <% end %>
            <%= show_owner_controllers(@review.author_id, @review.id) %>
          </div>
        </div>
      </header>
      <%= simple_format(@review.text) %>
    </section>
  </article>
</main>