<!DOCTYPE html>
<html>
  <head>
    <title>SeriesReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "/shared/navbar" %>
    <%= render "/shared/flash_notification" %>
    <%= yield %>
    <%= render "/shared/footer" %>
  </body>
</html>
